* {
    font-family: "montserrat";
    color: rgba(71, 71, 71);
}

#btn-do-inicio {
    background: white;
    text-align: center;
    padding: 50px;
}

#btn-inicio {
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 7px;
    transition: .2s;
}

#btn-inicio:hover {
    transition: .2s;
    background: rgba(128, 128, 128, 0.151);
}

#foot {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


div#borda {
    width: 1000px;
    border-top: 1px solid rgba(71, 71, 71, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
    height: 90px;
    gap: 250px;
}

.espacamento:nth-child(2) > p {
    font-size: 0.8em;
}

.espacamento img {
    width: 50px;
    height: 50px;
}

.espacamento a img {
    width: 20px;
    height: 20px;
}

.espacamento > a {
    line-height: 30px;
}

.espacamento > a:hover {
    text-decoration: underline;
}

footer {
    background: #E4E3E8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-weight: bold;
    text-align: center;
}

footer i {
    color: var(--azul-escuro);
    font-weight: lighter;
}

footer a:hover {
    text-decoration: underline;
    transition: .5s;
    text-decoration-color: var(--azul-escuro);
}



