/* Menu */
nav {
    padding-top: 30px;   
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 25px;
}

ul img {
    width: 30px;
    height: 30px;
}

li + li {
    transition: transform 0.25s ease;
}

li + li:hover {
    transition: .2s;
    transform: translateY(-3px);

}

li > a {
    font-family: "Abel";
    font-size: 22px;
}

li > a:hover {
    font-weight: bold;
}

li > a:active {
    transition: .1s;
}





