html {
    width: 100%;
    height: 100%;
}

nav {
    font: 1.1em Verdana, sans-serif;
    margin-top: 30px;   
    background: #010137;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 25px;
}

a {
    color: white;
    text-decoration: none;
}

li + li {
    transition: transform 0.25s ease;
}

li + li:hover {
    transition: .2s;
    transform: translateY(-3px);
}

a:hover {
    color: brown;
}

a:active {
    transition: .1s;
}