<div class="container">
    <p id="titulo-header">Aulas</p>
    <p><a routerLink="/cursos" routerLinkActive="active">Cursos</a> >> 
        <span *ngIf="cursoSelecionado === 'python01' || cursoSelecionado === 'python02' || cursoSelecionado === 'python03'">Python</span>
        <span *ngIf=" cursoSelecionado === 'informationSecurity00' || cursoSelecionado === 'informationSecurity01' || cursoSelecionado === 'informationSecurity02' ||  cursoSelecionado === 'informationSecurity03' || cursoSelecionado === 'informationSecurity04'">Segurança da informação</span>
    </p>
</div>
<div class="container2">
    <div class="python">
        <div *ngIf="cursoSelecionado === 'python01'">
            <p>Módulo 01</p>
            <p class="titulo-main">Aula 01 - Seja um Programador</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/S9uPNppGsGo?si=jdj4HYgPQJNWjdyT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'python02'">
            <p>Módulo 02</p>
            <p class="titulo-main">Aula 11 - Dicas e Regras</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nJkVHusJp6E?si=2iwJLq3tuO8kJOnp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'python03'">
            <p>Módulo 03</p>
            <p class="titulo-main">Aula 16 - Tuplas</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0LB3FSfjvao?si=yiGBM9Go3wfgUrG9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="informationSecurity">
        <div *ngIf="cursoSelecionado === 'informationSecurity00'">
            <p>Módulo 00</p>
            <p class="titulo-main">Aula 00 – O curso de segurança é para mim?</p>
            <iframe src="https://www.youtube-nocookie.com/embed/YjjTteeZbUM?si=yUWVuj1gpq7m2bzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'informationSecurity01'">
            <p>Módulo 01</p>
            <p class="titulo-main">Aula 01 – Redes Sociais</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UMJgG-hp0f8?si=GGciUDn9EA4bKB74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'informationSecurity02'">
            <p>Módulo 02</p>
            <p class="titulo-main">Aula 01 – Privacidade</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Bp6zq1Aws6c?si=hCYHvgj4g3yzKTo-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'informationSecurity03'">
            <p>Módulo 03</p>
            <p class="titulo-main">Apresentação</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iZao52lYe7A?si=PSMmMjOBXbLrfW0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div *ngIf="cursoSelecionado === 'informationSecurity04'">
            <p>Módulo 04</p>
            <p class="titulo-main">Apresentação</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qeKiqLL4W8k?si=cMqFRKM51DwbJGN_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>