* {
    color: var(--magenta-escuro);
}

.container {
    line-height: 45px;
    margin: 50px 0px 20px 550px;
}

.container p, .container span {
    color: white;
}

.container p:nth-child(1) {
    font-family: "momo-trust-display-regular";
    font-size: 2em;
}

.container p + p {
    font-family: "montserrat";
    font-weight: normal;
}

.container a {
    cursor: pointer;
    color: white;
}

.container a:hover {
    text-decoration: underline;
}

.container2 {
    padding-top: 50px;
    background: white;
    font-family: "momo-trust-display-regular";
}

.container2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 iframe {
    width: 800px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 1px 10px 10px rgb(0, 0, 0);
    border: 4px solid var(--magenta-escuro);
    margin: 40px 0px 70px 0px;
}

.container2 p:nth-child(1) {
    padding: 10px;
}

.container2 .titulo-main {
    font-size: 3em;
    text-align: center;
}