* {
    color: var(--magenta-escuro);
}

.container {
    line-height: 45px;
    margin: 50px 0px 20px 550px;
}

.container p {
    color: white;
}

.container p:nth-child(1) {
    font-family: "momo-trust-display-regular";
    font-size: 2em;
}

.container p + p {
    font-family: "montserrat";
    font-weight: normal;
}

.container2 {
    background: white;
    font-family: "momo-trust-display-regular";
}

.movimentacao {
    margin: auto;
    width: 1000px;
}

.container2 > .movimentacao > .titulo-main {
    font-size: 3em;
    padding: 50px 0px 40px 0px;
    width: 70px;
    border-bottom: 3px solid var(--magenta);
}

.conteudo {
    display: flex;
    margin: 80px 10px 0px 0px;
    width: 1000px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}


.conteudo-painel {
    display: flex;
    border: 2px solid var(--magenta-escuro);
    border-radius: 17px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.413);
    width: 270px;
    height: 300px;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    font-size: 1.5em;
}

.conteudo-painel:hover {
    transition: .1s;  
    transform: translatey(5px);
}

.conteudo-painel img {
    width: 110px;
    height: 110px;
}

#vazio {
    padding-bottom: 100px;
}

